<h1>Welcome to RPG_DataBase!</h1>
<% if logged_in? %>
  <h1> You are logged in as user: <%= current_user.username%></h1>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
